body {
  margin: 0;
  padding: 0;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  height: 500px;
  width: 500px;
  background-color: rgb(16, 51, 39);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-bun {
  height: 70px;
  width: 300px;
  background-color: #f2b46e;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.tomatoes {
  height: 12px;
  width: 260px;
  background-color: #ff0000;
  border-radius: 12px;
}
.veges {
  height: 30px;
  width: 290px;
  background-color: green;
  display: block;
  transform: scaleX(0.9);
  border-radius: 12px;
}
.leaf-1 {
  background-color: green;
  position: absolute;
  width: 20%;
  height: 39px;
  left: 0;
  z-index: 1;
  border-radius: 66%;
}
.leaf-2 {
  background-color: green;
  position: absolute;
  width: 20%;
  height: 39px;
  left: 20%;
  z-index: 1;
  border-radius: 66%;
}
.leaf-3 {
  background-color: green;
  position: absolute;
  width: 20%;
  height: 39px;
  left: 40%;
  z-index: 1;
  border-radius: 66%;
}
.leaf-4 {
  background-color: green;
  position: absolute;
  width: 20%;
  height: 39px;
  left: 60%;
  z-index: 1;
  border-radius: 66%;
}
.leaf-5 {
  background-color: green;
  position: absolute;
  width: 20%;
  height: 39px;
  left: 80%;
  z-index: 1;
  border-radius: 66%;
}

.cheese {
  display: block;
  height: 12px;
  width: 290px;
  background-color: yellow;
  border-radius: 2px;
  transform: scaleX(0.9);
  border-radius: 12px;
}

.cheese-drip {
  position: absolute;
  width: 75%;
  height: 400%;
  top: 53.3%;
  left: 15%;
  background: yellow;
  clip-path: polygon(100% 0, 0 0, 100% 34%);
}
.chicken {
  height: 25px;
  width: 260px;
  background-color: #d65f2f;
  border-radius: 12px;
}
.bottom-bun {
  height: 50px;
  width: 300px;
  background-color: #f2b46e;
  border-radius: 15px;
}
