body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 500px;
  width: 800px;
  background-color: rgb(45 109 101);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nintendo_hand {
  height: 300px;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.nintendo_left_hand {
  border-radius: 50px 0 0 50px;
  background-color: #00bedd;
}
.nintendo_right_hand {
  border-radius: 0 50px 50px 0;
  background-color: #fe5b50;
}

.joy_stick_circle {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(14, 14, 14);
  margin: 20px auto 0;
}

.joy_stick_inner_bump {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: linear-gradient(145deg, #353535, #363636);
  box-shadow: 3px 3px 7px #262626, -3px -3px 7px #646464;
}

.minus_button {
  height: 3px;
  width: 14px;
  background-color: #111111;
  margin: 30px 0 0 76px;
}

.plus_button {
  width: 25px;
  height: 35px;
  position: relative;
}

.plus_button:after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 14px;
  background: #111111;
  top: 70%;
  left: 70%;
}

.plus_button:before {
  content: "";
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background: #111111;
  height: 14px;
  width: 3px;
}

.arrow_keys {
  height: 78px;
  width: 78px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrow_button_shadow_wraper {
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #000;
}

.arrow_button {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #363535;
  color: #fff;
  font-size: 11px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 2px 2px 5px #262626, -2px -2px 5px #646464;
}
/* left hand */
.top_arrow_button_shap_left_hand {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #000;
}
.down_arrow_button_shap_left_hand {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #000;
}
.left_arrow_button_shap_left_hand {
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-right: 8px solid #000;
  border-bottom: 5px solid transparent;
}
.right_arrow_button_shap_left_hand {
  height: 0;
  width: 0;
  border-top: 5px solid transparent;
  border-left: 8px solid #000;
  border-bottom: 5px solid transparent;
}

.side_arrow_buttons {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_hand_extra_button {
  height: 20px;
  width: 20px;
  background-color: #363535;
  border-radius: 3px;
  margin: 20px 0 0 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_hand_extra_button_inner_circle {
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
}

.right_hand_extra_button {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #7c7c7c;
  margin: 20px 0 0 20px;
}

.right_hand_extra_button_inner_circle {
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #424242;
}

.right_hand_extra_button_inner_circle svg {
  height: 12px;
  width: 12px;
}

.nintendo_screen_area {
  height: 300px;
  width: 470px;
  background-color: rgb(75, 72, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nintendo_screen_border {
  height: 285px;
  width: 455px;
  background-color: rgb(41, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nintendo_screen {
  height: 230px;
  width: 400px;
  background-color: rgb(138, 220, 223);
}
