body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  height: 500px;
  width: 800px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nintendo_hand {
  height: 300px;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.nintendo_left_hand {
  border-radius: 50px 0 0 50px;
  background-color: #00bedd;
}
.nintendo_right_hand {
  border-radius: 0 50px 50px 0;
  background-color: #fe5b50;
}

.joy_stick_circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(14, 14, 14);
  margin: 20px auto 0;
}

.minus_button {
  height: 3px;
  width: 14px;
  background-color: #111111;
  margin: 30px 0 0 76px;
}

.plus_button{
  width: 25px;
  height: 35px;
  position: relative;
}

.plus_button:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 14px;
  background: #111111;
  top: 70%;
  left: 70%;
}

.plus_button:before {
  content: '';
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background: #111111;
  height: 14px;
  width: 3px;
}

.arrow_keys {
  height: 78px;
  width: 78px;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.arrow_button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #111111;
}

.top_arrow_button {
}
.side_arrow_buttons {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.down_arrow_button {
}

.left_hand_extra_button {
  height: 20px;
  width: 20px;
  background-color: #111111;
  margin: 20px 0 0 62px;
}

.right_hand_extra_button {
  height: 20px;
  width: 20px;
  background-color: #111111;
  margin: 20px 0 0 20px;
}

.nintendo_screen_area {
  height: 300px;
  width: 470px;
  background-color: rgb(75, 72, 74);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nintendo_screen_border {
  height: 285px;
  width: 455px;
  background-color: rgb(41, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.nintendo_screen {
  height: 230px;
  width: 400px;
  background-color: rgb(138, 220, 223);
}
